body{
    background-color: #031634;
}

h1{
    color: white;
    
   
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 200px;
    
}

button{
    background-color: #F09819;
    height: 40px;
    width: 150px;
    border: black solid 3px;
    border-radius: 4px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: medium;
    font-weight:100;
}

p{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}


h2{
    color: #F09819;
}